*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(55, 59, 62);
    color: rgb(244, 225, 225);
    font-size: 20px;
}

.head{
    text-align: center;
    color: rgb(46, 39, 39);
    padding: 1rem;
    background-color: rgb(211, 211, 166);
}

.add{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 3rem;   
}

#addinput{
    width: 100%;
    background: none;
    border: 2.5px solid rgb(56, 51, 51);
    outline: none;
    text-align: center;
    padding:0.5rem 1rem;
    color: rgb(89, 79, 79);
    font-size: 1.5rem;
}
#addbutton{
    width:100%;
    background-color: rgb(189, 214, 224);
    text-align: center;
    border: 2.5px solid rgb(56, 51, 51);
    padding:0.5rem 1rem;
    color: rgb(89, 79, 79);
    font-size: 1.5rem;

}

.todos{
    border: 1px solid rgb(135, 129, 129);
    padding: 0.5rem 0.8rem 0.5rem 1rem;
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.todos.done{
    background-color: rgba(0, 255, 0, 0.25);
}

.todos.editing{
   background-color: rgba(255, 255, 255, 0.447);
}

.todos:not(.editing) .edit{
    display:none;
}

.todos.editing .name{
    display:none;
}

.todos.editing .edit-btn{
    display:none;
}

.todos:not(.editing) .save-btn{
    display:none;
}

.check{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.delete,.edit-btn,.save-btn{
    background:none;
}

.edit{
    padding: 0.5rem;
    font-style: italic;
}
